/* Para telas pequenas, como celulares */
@media (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  
  /* Para telas médias, como tablets */
  @media (max-width: 1024px) {
    body {
      background-color: lightgreen;
    }
  }
  
  /* Para telas grandes, como desktops */
  @media (min-width: 1025px) {
    body {
      background-color: lightgray;
    }
  }
  

body {
    background: white;
}
.caixa{
    background: #800000;
    position: relative;
    margin: 0 auto;
    padding: 40px;
}

h1 {
    text-align:left;
    font-size: 40px;
    margin: 0 0 0 70px;
    font-weight: bold;
    color: white;
}

h2 {
    text-align: center;
    font-size: 50px;
    color: white;
    position: absolute;
    top: 25px;
    right: 0;
    margin: 0 120px 0 0;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #363636,
    0 3px 0 #4F4F4F,
    0 4px 0 #696969,
    0 5px 0 	#808080,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
#principal {
    text-align: center;
    padding: 5px;/* Reduzido o padding */
    font-size: 20px;
    line-height: 1.5;
    width: 100%;
    margin: 10px 0;
}

.titulo {
    font-size: 30px;
    text-align: center;
    color: #8B0000;
    font-weight: bold;
}

.block {
    text-align: center;
    width: 100%; 
    display: block;
    margin: 10px 0;
}


.subtitulo {
    font-size: 25px;
    text-align: center;
    margin: 5px;
    color: #8B0000;
    font-weight: bold;
}

strong {
    font-weight: bold;
}

.desblock {
    display: block;
    width: 100%; 
    text-align: left;
    margin: 10px 0;
}


.imagemdoacao {
    width: 30%;
    float: right;
    margin-left: 10px;
}

.incentivo {
    font-size: 27px;
    text-align: center;
    color: #8B0000;
    font-weight: bold;
}

main {
    width: 100%;
    margin: 15px;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.sangue {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.enviar {
    width: 40%;
    padding: 20px 20px;
    background: #006400;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
    line-height: 70px;
}